
.tourTitles{
    font-size: 50px;
    color: rgb(254, 252, 253);
    text-align: center;
}

.title{
    font-size: 900px;
    text-align: center;
}
.newspaper{
    column-count: 3;
}

.catogoryTitle{
    text-align: center;
    background-color: blanchedalmond;
    font-size: 40px;
}

.wbcatogaryDiv{
    display: flex;
    justify-content:space-between;
    margin: 10px 0px;
    padding: 10px 15px;
    background-color: rgb(238, 241, 244);
}
.textWBCat{
    display: flex;
    align-items: center;
    align-content: center;
    font-size: 25px;
    padding: 10px 20px;


}

.Wbimages{
    height: 350px;
    width: 550px;
    border-radius: 10px;
}






@media only screen and (max-width: 767px) {
    .title{
        font-size: 20px;
        text-align: center;
        color: green;
    }
    .wbnewspaper{
        font-size: 20px;
        column-count: 1;
        text-align: center;
        font-size: 15px;
    } 

    .wbcatogaryDiv{
        display: block;
        justify-content:space-between;
        margin: 10px 0px;
        padding: 10px 15px;
        background-color: rgb(238, 241, 244);
    }
    .textWBCat{
        display: flex;
        align-items: center;
        align-content: center;
        font-size: 25px;
        padding: 10px 20px;


    }

    .Wbimages{
        height: 250px;
        width: 100%;
        border-radius: 10px;
    }

    
}



@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .title{
        font-size: 20px;
        text-align: center;
        color: rgb(21, 234, 21);
    }
    .wbnewspaper{
        font-size: 20px;
        color: rgb(197, 37, 154);
        column-count: 2;

    } 
   
    .wbcatogaryDiv{
        display: block;
        justify-content:space-between;
        margin: 10px 0px;
        padding: 10px 15px;
        background-color: rgb(238, 241, 244);
    }
    .textWBCat{
        display: flex;
        align-items: center;
        align-content: center;
        font-size: 25px;
        padding: 10px 20px;


    }

    .Wbimages{
        height: 250px;
        width: 100%;
        border-radius: 10px;
    }

}
